###Certification Project

###Popularity-Based Movie Recommender System

In [1]:
#import necessary libraries

import numpy as np
import pandas as pd
import difflib

In [2]:
# loading the datasets from the csv file to dataframe

movies=pd.read_csv('/content/movies.csv')
ratings=pd.read_csv('/content/ratings.csv')

In [3]:
# printing the first 5 rows of the movie dataframe

movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
# printing the first 5 rows of the ratings dataframe

ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [5]:
movies['genres'] = movies['genres'].apply(lambda x: x.replace("|", " "))

In [6]:
# merging the datasets

df=pd.merge(ratings,movies, how='left',on='movieId')
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,16,4.0,1217897793,Casino (1995),Crime Drama
1,1,24,1.5,1217895807,Powder (1995),Drama Sci-Fi
2,1,32,4.0,1217896246,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery Sci-Fi Thriller
3,1,47,4.0,1217896556,Seven (a.k.a. Se7en) (1995),Mystery Thriller
4,1,50,4.0,1217896523,"Usual Suspects, The (1995)",Crime Mystery Thriller

In [7]:
# grouping title and genres with rating

ratings = pd.DataFrame(df.groupby(['title','genres'])['rating'].mean())
ratings.head()

                                                                                     rating
title                                   genres
'71 (2014)                              Action Drama Thriller War                     3.500
'Hellboy': The Seeds of Creation (2004) Action Adventure Comedy Documentary Fantasy   3.000
'Round Midnight (1986)                  Drama Musical                                 2.500
'Til There Was You (1997)               Drama Romance                                 4.000
'burbs, The (1989)                      Comedy                                        3.125

In [8]:
# creating a new column 'num of ratings' which holds the number of ratings given for the movie

ratings['num of ratings'] = pd.DataFrame(df.groupby(['title','genres'])['rating'].count())
ratings.head()

,,rating,num of ratings
title,genres,,
'71 (2014),Action Drama Thriller War,3.500,1
'Hellboy': The Seeds of Creation (2004),Action Adventure Comedy Documentary Fantasy,3.000,1
'Round Midnight (1986),Drama Musical,2.500,1
'Til There Was You (1997),Drama Romance,4.000,3
"'burbs, The (1989)",Comedy,3.125,20

In [9]:
# creating a pivot table

moviemat = df.pivot_table(index='userId',columns=['genres','title'],values='rating')
moviemat

genres   (no genres listed)                                                   \
title  Li'l Quinquin (    ) Marco Polo: One Hundred Eyes (2015) Pablo (2012)
userId
1                       NaN                                 NaN          NaN
2                       NaN                                 NaN          NaN
3                       NaN                                 NaN          NaN
4                       NaN                                 NaN          NaN
5                       NaN                                 NaN          NaN
...                     ...                                 ...          ...
664                     NaN                                 NaN          NaN
665                     NaN                                 NaN          NaN
666                     NaN                                 NaN          NaN
667                     NaN                                 NaN          NaN
668                     2.0                                 NaN          NaN

genres                                                          \
title  Round Trip to Heaven (1992) The 50 Year Argument (2014)
userId
1                              NaN                         NaN
2                              NaN                         NaN
3                              NaN                         NaN
4                              NaN                         NaN
5                              NaN                         NaN
...                            ...                         ...
664                            NaN                         NaN
665                            NaN                         NaN
666                            NaN                         NaN
667                            NaN                         NaN
668                            NaN                         2.5

genres                                                   \
title  The Big Broadcast of 1936 (1935) The Take (2009)
userId
1                                   NaN             NaN
2                                   NaN             NaN
3                                   NaN             NaN
4                                   NaN             NaN
5                                   NaN             NaN
...                                 ...             ...
664                                 NaN             NaN
665                                 NaN             NaN
666                                 NaN             NaN
667                                 NaN             NaN
668                                 2.0             NaN

genres                                     Action                              \
title  13 Assassins (Jûsan-nin no shikaku) (2010) Aces: Iron Eagle III (1992)
userId
1                                             NaN                         NaN
2                                             NaN                         NaN
3                                             NaN                         NaN
4                                             NaN                         NaN
5                                             NaN                         NaN
...                                           ...                         ...
664                                           NaN                         NaN
665                                           NaN                         NaN
666                                           NaN                         NaN
667                                           NaN                         NaN
668                                           2.5                         NaN

genres                   ...                     Western                   \
title  Avalanche (1978)  ... Tribute to a Bad Man (1956) True Grit (2010)
userId                   ...
1                   NaN  ...                         NaN              NaN
2                   NaN  ...                         NaN              NaN
3                   NaN  ...                         NaN              NaN
4                   NaN  ...                         NaN              NaN
5                   NaN  ...                         NaN              NaN
...                 ...  ...                         ...              ...
664                 NaN  ...                         NaN              NaN
665                 NaN  ...                         NaN              NaN
666                 NaN  ...                         NaN              NaN
667                 NaN  ...                         NaN              NaN
668                 NaN  ...                         2.5              4.0

genres                                                   \
title  Two Rode Together (1961) Valdez Is Coming (1971)
userId
1                           NaN                     NaN
2                           NaN                     NaN
3                           NaN                     NaN
4                           NaN                     NaN
5                           NaN                     NaN
...                         ...                     ...
664                         NaN                     NaN
665                         NaN                     NaN
666                         NaN                     NaN
667                         NaN                     NaN
668                         2.5                     2.5

genres                                                                    \
title  Vengeance Valley (1951) Viva Zapata! (1952) Westerner, The (1940)
userId
1                          NaN                 NaN                   NaN
2                          NaN                 NaN                   NaN
3                          NaN                 NaN                   NaN
4                          NaN                 NaN                   NaN
5                          NaN                 NaN                   NaN
...                        ...                 ...                   ...
664                        NaN                 NaN                   NaN
665                        NaN                 NaN                   NaN
666                        NaN                 NaN                   NaN
667                        NaN                 NaN                   NaN
668                        3.0                 3.5                   3.0

genres
title  Wild Bill (1995) Winchester '73 (1950) Wyatt Earp (1994)
userId
1                   NaN                   NaN               NaN
2                   NaN                   NaN               NaN
3                   NaN                   NaN               NaN
4                   NaN                   NaN               NaN
5                   NaN                   NaN               NaN
...                 ...                   ...               ...
664                 NaN                   NaN               NaN
665                 NaN                   NaN               NaN
666                 NaN                   NaN               NaN
667                 NaN                   NaN               NaN
668                 NaN                   4.5               2.5

[668 rows x 10325 columns]

In [10]:
# grouping movies with most number of ratings

ratings.sort_values('num of ratings',ascending=False).head(10)

,,rating,num of ratings
title,genres,,
Pulp Fiction (1994),Comedy Crime Drama Thriller,4.160000,325
Forrest Gump (1994),Comedy Drama Romance War,4.138264,311
"Shawshank Redemption, The (1994)",Crime Drama,4.454545,308
Jurassic Park (1993),Action Adventure Sci-Fi Thriller,3.659864,294
"Silence of the Lambs, The (1991)",Crime Horror Thriller,4.194828,290
Star Wars: Episode IV - A New Hope (1977),Action Adventure Sci-Fi,4.188645,273
"Matrix, The (1999)",Action Sci-Fi Thriller,4.264368,261
Terminator 2: Judgment Day (1991),Action Sci-Fi,3.960474,253
Schindler's List (1993),Drama War,4.296371,248
Braveheart (1995),Action Drama War,4.108871,248

In [11]:
# getting the movie genres name from the user

genres_name = input(' Enter your favourite movie genres name : ')

 Enter your favourite movie genres name : comedy

In [12]:
# creating a list with all the movie names given in the dataset

list_of_all_genres = df['genres'].tolist()
list_of_all_genres = list(set(list_of_all_genres))
print(list_of_all_genres)

['Drama Film-Noir War', 'Action Adventure Thriller', 'Action Horror Mystery Thriller', 'Drama Sci-Fi War', 'Drama Horror Thriller', 'Action Adventure Animation Sci-Fi', 'Children Drama Fantasy Mystery', 'Adventure Animation Children Sci-Fi IMAX', 'Comedy Romance War', 'Crime Drama Film-Noir Mystery Romance', 'Horror Musical Thriller', 'Animation Children Drama Musical Romance', 'Drama Fantasy Mystery Romance Thriller', 'Adventure Children Drama Fantasy', 'Comedy Musical Romance', 'Action Adventure Sci-Fi Thriller', 'Animation Children Fantasy IMAX', 'Action Drama', 'Adventure Animation Children Comedy Fantasy Sci-Fi', 'Animation Romance', 'Action Adventure Comedy', 'Comedy Horror Musical', 'Comedy Drama Romance Western', 'Drama Fantasy Mystery Sci-Fi', 'Horror Sci-Fi Thriller War', 'Action Comedy', 'Action Drama Thriller IMAX', 'Action Adventure Fantasy Mystery', 'Action Comedy Crime Drama', 'Action Adventure Comedy Fantasy Horror', 'Adventure Romance War', 'Adventure Comedy Fantasy Romance', 'Action Adventure Comedy Romance Thriller', 'Action Adventure Drama Sci-Fi', 'Crime Thriller War', 'Action Crime Film-Noir', 'Comedy Musical Sci-Fi', 'Children Comedy Musical', 'Action Adventure Fantasy Thriller', 'Action Adventure Drama Sci-Fi Thriller', 'Action Fantasy Thriller IMAX', 'Adventure Comedy Crime Drama Mystery Thriller', 'Action Fantasy Horror Romance', 'Crime Drama Western', 'Crime Drama Film-Noir Mystery', 'Comedy Drama Fantasy Sci-Fi', 'Documentary Horror', 'Action Animation Children Comedy', 'Children Comedy Drama Musical Romance', 'Comedy Musical Romance Western', 'Action Children', 'Children Horror Mystery Thriller', 'Adventure Comedy Horror', 'Action Adventure Fantasy Horror', 'Children Comedy Romance Sci-Fi', 'Children Comedy Sci-Fi', 'Action Adventure Comedy Crime Drama Film-Noir Horror Mystery Thriller Western', 'Crime Horror Mystery Thriller', 'Horror Thriller Western', 'Drama Sci-Fi Western', 'Action Drama Thriller War', 'Comedy Drama Fantasy Romance', 'Action Comedy Crime Drama Horror Thriller', 'Comedy Documentary Drama', 'Adventure Animation Children Fantasy Musical', 'Action Adventure Animation Comedy Crime Mystery', 'Action Comedy Fantasy Musical Romance', 'Crime Drama Thriller Western', 'Comedy Fantasy Mystery', 'Drama Musical Romance', 'Drama Mystery', 'Action Crime Drama Mystery Thriller', 'Action Thriller', 'Comedy Musical', 'Action Animation Crime', 'Animation Comedy Drama Romance Sci-Fi', 'Comedy Fantasy Horror', 'Action Romance Thriller', 'Animation Sci-Fi IMAX', 'Action Drama Mystery Sci-Fi Thriller IMAX', 'Musical', 'Action Crime Romance Thriller', 'Drama Fantasy Musical Romance', 'Fantasy Horror', 'Adventure Animation Drama', 'Action Children Comedy', 'Comedy Western', 'Fantasy Mystery Thriller', 'Action Comedy Fantasy Sci-Fi', 'Adventure Children Musical', 'Adventure Drama War Western', 'Adventure Animation Fantasy IMAX', 'Action Adventure War Western', 'Adventure Comedy Fantasy', 'Adventure Children Sci-Fi', 'Drama Fantasy Thriller', 'Adventure Comedy Sci-Fi Thriller', 'Horror', 'Children Fantasy', 'Adventure Children Comedy Drama', 'Action Adventure Thriller IMAX', 'Action Fantasy Thriller', 'Fantasy Horror Mystery Thriller', 'Action Adventure Fantasy Romance', 'Adventure Animation Comedy Fantasy Musical Romance', 'Action Comedy Crime Romance', 'Action Drama Horror Sci-Fi Thriller', 'Action Documentary Drama Thriller', 'Action Crime Horror Sci-Fi Thriller', 'Crime Drama Musical Romance', 'Comedy Drama Horror', 'Action Adventure Crime Drama Thriller', 'Film-Noir Mystery Thriller', 'Adventure Romance War Western', 'Crime Mystery War', 'Fantasy Horror Thriller', 'Adventure Animation Fantasy', 'Drama Thriller War', 'Thriller War', 'Adventure Comedy Fantasy Musical', 'Action Comedy Horror Thriller', 'Adventure Drama Romance Thriller War', 'Action Adventure Comedy Fantasy', 'Action Adventure Animation Fantasy Sci-Fi', 'Drama Film-Noir Thriller', 'Action Animation Comedy Crime Drama Mystery Romance Thriller', 'Action Children Sci-Fi IMAX', 'Drama Fantasy Mystery Romance', 'Comedy', 'Action Crime Sci-Fi', 'Comedy Drama Film-Noir', 'Mystery Romance Thriller', 'Adventure Drama Romance', 'Children', 'Comedy Drama Musical IMAX', 'Mystery Romance Sci-Fi Thriller', 'Action Adventure Comedy Sci-Fi Thriller', 'Action Adventure Animation Crime Sci-Fi', 'Action Comedy Romance Thriller', 'Adventure Documentary Drama', 'Adventure Fantasy Musical', 'Mystery Sci-Fi Thriller', 'Adventure Crime Drama', 'Crime Fantasy Horror', 'Drama Fantasy Musical Mystery Sci-Fi', 'Adventure Comedy Musical Romance', 'Crime Drama Fantasy Mystery Thriller', 'Crime Drama War', 'Action Sci-Fi Thriller IMAX', 'Action Mystery Thriller', 'Children Comedy Drama', 'Action Animation Sci-Fi', 'Drama Fantasy Sci-Fi Thriller', 'Action Animation Comedy', 'Drama Fantasy War', 'Action Adventure Drama Romance Western', 'Action Fantasy Sci-Fi', 'Action Adventure Comedy Crime', 'Children Comedy Mystery', 'Horror Romance Sci-Fi', 'Adventure', 'Drama Mystery Thriller', 'Fantasy Horror Musical', 'Crime Horror Thriller', 'Action Thriller Western', 'Action Animation Drama Sci-Fi Thriller', 'Action Animation Children Sci-Fi', 'Film-Noir Thriller War', 'Action Adventure Thriller War', 'Adventure Comedy Western', 'Adventure Fantasy Thriller IMAX', 'Action Crime Thriller IMAX', 'Crime Mystery Sci-Fi Thriller', 'Action Animation Crime Sci-Fi', 'Action Horror Sci-Fi IMAX', 'Crime Mystery Romance Thriller', 'Action Adventure Romance War', 'Comedy Drama Fantasy Romance Thriller', 'Action Romance War Western', 'Drama Fantasy Horror Mystery Thriller', 'Adventure Animation Children Comedy Crime', 'Adventure Drama Fantasy Romance IMAX', 'Action Crime Western', 'Animation Comedy Sci-Fi', 'Crime Drama Film-Noir Thriller', 'Action IMAX', 'Action Sci-Fi War', 'Fantasy Romance Sci-Fi', 'Action Western', 'Action Drama Mystery', 'Adventure Fantasy IMAX', 'Comedy Crime Mystery', 'Comedy Romance Sci-Fi Thriller', 'Action Adventure Animation Children Sci-Fi', 'Drama Horror Mystery Romance Thriller', 'Drama Horror Mystery', 'Drama Mystery Sci-Fi', 'Action Romance Sci-Fi Thriller', 'Comedy Horror Musical Western', 'Comedy Drama Musical Romance', 'Adventure Fantasy Horror Romance Sci-Fi Thriller', 'Crime Drama Mystery Romance Thriller', 'Musical Romance Western', 'Horror Western', 'Animation Comedy Fantasy Musical', 'Action Adventure Sci-Fi', 'Animation Comedy Drama', 'Drama Fantasy Horror Thriller', 'Comedy Crime Thriller', 'Comedy Horror Sci-Fi Thriller', 'Comedy Documentary Musical', 'Drama', 'Adventure Comedy Romance War', 'Action Adventure Comedy Thriller', 'Animation Children Fantasy Mystery', 'Adventure Drama IMAX', 'Romance Thriller', 'Fantasy Romance Thriller IMAX', 'Drama Mystery Sci-Fi Thriller', 'Drama Film-Noir Mystery Thriller', 'Action Horror Sci-Fi Thriller IMAX', 'Comedy Horror Sci-Fi', 'Comedy Crime Romance', 'Drama Romance Thriller War', 'Adventure Children Comedy Fantasy Musical', 'Action Crime Drama Thriller Western', 'Crime Drama Musical Thriller', 'Action Adventure Comedy Documentary Fantasy', 'Comedy Crime Horror Mystery Thriller', 'Comedy Crime Horror', 'Animation Children Comedy Musical Western', 'Action Crime Fantasy', 'Animation Children Musical IMAX', 'Comedy Fantasy Sci-Fi', 'Adventure Comedy Sci-Fi', 'Animation Drama Sci-Fi IMAX', 'Sci-Fi Thriller IMAX', 'Comedy Horror Mystery Thriller', 'Drama Fantasy Horror Romance', 'Action Mystery Sci-Fi', 'Action Adventure Animation Children Comedy Sci-Fi IMAX', 'Action Crime Drama', 'Action Adventure Mystery Romance Thriller', 'Action Adventure Crime Drama Thriller War', 'Comedy Crime Drama Musical', 'Action Animation Drama Sci-Fi', 'Children Drama Mystery', 'Drama Film-Noir Mystery', 'Horror Mystery Sci-Fi', 'Drama Mystery War', 'Comedy Crime Drama Romance', 'Adventure Comedy Thriller', 'Action Crime Drama IMAX', 'Drama Film-Noir Romance Thriller', 'Adventure Animation Children Comedy Fantasy War', 'Action Comedy Drama Horror', 'Action Adventure Fantasy War', 'Action Adventure Animation Comedy Fantasy Mystery Sci-Fi', 'Action Adventure Fantasy Romance IMAX', 'Action Adventure Crime Drama Romance Thriller', 'Children Comedy Crime', 'Action Adventure Horror Mystery Sci-Fi Thriller', 'Action Adventure Drama War', 'Comedy Fantasy Horror Thriller', 'Crime Documentary War', 'Animation Fantasy Thriller', 'Drama Film-Noir Romance', 'Action Drama Mystery Thriller', 'Adventure Children Fantasy Musical', 'Action Adventure Animation Comedy', 'Action Fantasy Mystery', 'Action Adventure Comedy Sci-Fi', 'Comedy Crime Mystery Thriller', 'Adventure Drama Sci-Fi', 'Animation Mystery Sci-Fi', 'Drama Horror Sci-Fi', 'Adventure Children Fantasy Sci-Fi', 'Action Crime Mystery Romance Thriller', 'Action Adventure Sci-Fi IMAX', 'Animation Drama', 'Animation Crime Drama Horror Mystery', 'Action Drama War', 'Action Animation Comedy Crime Drama Romance Thriller', 'Drama Fantasy Horror Romance Thriller', 'Adventure Animation Children', 'Action Crime IMAX', 'Adventure Thriller', 'Musical War', 'Adventure Comedy Drama Romance', 'Action Adventure Comedy Fantasy Romance', 'War', 'Comedy Drama Fantasy Mystery Romance', 'Action', 'Adventure War Western', 'Action Comedy Sci-Fi Western', 'Animation Children Fantasy', 'Children Comedy Fantasy Sci-Fi', 'Action Crime Horror Mystery Thriller', 'Adventure Comedy Musical', 'Film-Noir Mystery', 'Fantasy Mystery Sci-Fi War', 'Action Comedy Drama Thriller War', 'Adventure Comedy Crime Mystery', 'Action Crime Drama Mystery Sci-Fi Thriller', 'Adventure Animation Children Comedy Drama Musical Romance', 'Children Comedy Crime Musical', 'Children Sci-Fi', 'Action Adventure Comedy Crime Drama', 'Action Drama Horror Mystery', 'Comedy Crime Mystery Romance', 'Drama Mystery Western', 'Animation Children Comedy', 'Action Comedy Western', 'Adventure Drama Horror Sci-Fi Thriller', 'Action Animation Film-Noir Sci-Fi Thriller', 'Adventure Children Comedy Romance Sci-Fi', 'Animation Fantasy Musical IMAX', 'Crime Drama Sci-Fi Thriller', 'Adventure Romance', 'Adventure Animation Children Comedy Fantasy IMAX', 'Crime Drama Romance Thriller', 'Adventure Drama Romance Sci-Fi Thriller', 'Fantasy Romance', 'Crime Romance Thriller', 'Comedy Horror', 'Crime Drama Musical', 'Comedy Crime Drama Mystery Romance', 'Action Adventure War', 'Comedy Crime Drama', 'Action Fantasy Horror Mystery Thriller', 'Action Comedy Sci-Fi', 'Action Drama Fantasy Horror Mystery Sci-Fi Thriller', 'Action Adventure Comedy Horror', 'Adventure Animation Drama Fantasy Sci-Fi', 'Animation Children Musical', 'Action Children Drama', 'Action Adventure Drama Fantasy IMAX', 'Action Animation Crime Thriller', 'Comedy Mystery Thriller', 'Adventure Drama Romance War', 'Action Drama Fantasy Horror', 'Comedy Horror Thriller', 'Animation Children Comedy Drama Fantasy', 'Crime Drama Film-Noir Romance', 'Animation Comedy War', 'Comedy Fantasy Romance', 'Comedy Fantasy Romance Sci-Fi', 'Romance', 'Adventure Children Comedy Mystery', 'Adventure Drama Fantasy Romance', 'Action Fantasy Horror Sci-Fi Thriller', 'Adventure Animation Comedy Fantasy IMAX', 'Comedy Fantasy Horror Musical Thriller', 'Fantasy Horror Mystery', 'Adventure Animation Children Crime Drama', 'Film-Noir Horror Thriller', 'Western', 'Action Adventure Animation Children Comedy IMAX', 'Documentary War', 'Action Fantasy Sci-Fi Thriller', 'Animation Drama Fantasy', 'Adventure Children Comedy', 'Action Adventure Comedy Fantasy Mystery', 'Action Adventure Animation Children Fantasy', 'Drama Mystery Romance Thriller', 'Action Sci-Fi IMAX', 'Fantasy Horror Romance Thriller', 'Action Horror', 'Action Adventure Comedy War', 'Action Mystery', 'Comedy Fantasy Mystery Sci-Fi', 'Crime Mystery Romance', 'Adventure Animation Children Comedy Musical', 'Adventure Animation Children Comedy Crime Fantasy Mystery', 'Crime Horror Sci-Fi', 'Adventure Comedy Crime Romance', 'Adventure Crime Drama Romance', 'Romance War', 'Thriller', 'Action Adventure Children Comedy', 'Comedy Crime Mystery Romance Thriller', 'Action Adventure Drama Fantasy', 'Drama Sci-Fi IMAX', 'Crime Film-Noir Mystery', 'Comedy Horror Romance Thriller', 'Comedy Drama Mystery Romance', 'Action Adventure Animation Horror Sci-Fi', 'Action Adventure Animation Horror', 'Action Animation Fantasy Sci-Fi', 'Adventure Fantasy Sci-Fi', 'Comedy Thriller', 'Adventure Fantasy Romance', 'Documentary Musical IMAX', 'Action Adventure Crime Horror Thriller', 'Action Adventure Children Comedy Fantasy', 'Mystery Sci-Fi', 'Comedy Drama Romance Thriller', 'Comedy Fantasy Musical Romance', 'Action Crime Fantasy Sci-Fi Thriller', 'Comedy Fantasy Thriller', 'Drama Fantasy Romance', 'Comedy Crime Drama Film-Noir Musical', 'Action Adventure Children Fantasy Mystery Thriller', 'Adventure Animation Children Fantasy', 'Children Comedy Drama Fantasy', 'Documentary Drama', 'Action Comedy IMAX', 'Action Fantasy War IMAX', 'Action Animation Mystery IMAX', 'Action Adventure Romance', 'Adventure Drama Thriller War', 'Drama Musical Mystery', 'Action Adventure Children Comedy Fantasy Sci-Fi', 'Children Comedy Crime Drama Fantasy', 'Comedy Musical Western', 'Adventure Animation Children Comedy Sci-Fi', 'Crime Drama Thriller War', 'Adventure Drama Fantasy', 'Animation Children Comedy Romance', 'Horror Sci-Fi Thriller', 'Documentary Sci-Fi', 'Comedy Drama', 'Action Adventure Fantasy Sci-Fi', 'Action Adventure Drama Thriller Western', 'Animation Children Drama Fantasy IMAX', 'Action Adventure Animation Comedy Thriller', 'Action Fantasy Western', 'Animation Sci-Fi', 'Mystery Romance', 'Drama Horror Mystery Sci-Fi Thriller', 'Adventure Crime Drama Romance Thriller', 'Children Comedy Musical Romance', 'Adventure Children Comedy Fantasy', 'Action Adventure Children Comedy Mystery', 'Crime Mystery Thriller', 'Documentary Mystery', 'Comedy Drama Fantasy Mystery', 'Comedy Crime Drama Musical Mystery Romance', 'Crime Film-Noir', 'Children Comedy Fantasy Horror', 'Adventure Romance Western', 'Comedy Crime', 'Drama Fantasy Romance Thriller', 'Action Comedy Drama Romance', 'Horror Mystery Sci-Fi Thriller', 'Action Adventure Animation Children Comedy Sci-Fi', 'Action Adventure Drama War Western', 'Comedy Romance Western', 'Action Comedy Musical', 'Action Adventure Animation Children Comedy Fantasy', 'Comedy Fantasy Musical', 'Action Adventure Comedy Drama Romance Thriller', 'Action Crime Drama Western', 'Comedy Horror Mystery', 'Action Comedy Thriller', 'Drama War Western', 'Animation Comedy Romance', 'Adventure Drama Fantasy Mystery Sci-Fi', 'Horror Romance', 'Mystery Thriller', 'Drama Romance War', 'Drama Fantasy Horror', 'Animation Children Drama', 'Action Comedy Drama', 'Action Drama Sci-Fi', 'Comedy Drama Musical', 'Action Drama War Western', 'Documentary', 'Comedy Crime Drama Film-Noir Thriller', 'Action Crime Horror Thriller', 'Comedy Drama Mystery Thriller', 'Crime Film-Noir Mystery Romance', 'Adventure Drama Western', 'Action Adventure Drama IMAX', 'Adventure Animation Children Comedy Fantasy Romance', 'Adventure Crime Drama Thriller', 'Musical Sci-Fi', 'Action Drama Mystery Romance Thriller', 'Adventure Animation Children Fantasy Sci-Fi', 'Drama Mystery Romance Sci-Fi Thriller', 'Action Drama Mystery Thriller War', 'Children Musical Romance', 'Musical Western', 'Action Crime Thriller', 'Action Fantasy Horror', 'Comedy Romance', 'Drama Musical Romance Sci-Fi', 'Action Crime Drama Mystery Sci-Fi Thriller IMAX', 'Drama Romance Thriller', 'Animation Children Comedy Drama', 'Comedy Horror Romance', 'Children Documentary', 'Action Drama Horror IMAX', 'Action Crime Drama Sci-Fi Thriller', 'Adventure Children Comedy Fantasy Sci-Fi', 'Crime Film-Noir Mystery Thriller', 'Action Sci-Fi Thriller Western IMAX', 'Animation Children Fantasy Musical Romance IMAX', 'Adventure Drama Horror Thriller', 'Comedy Fantasy Horror Sci-Fi', 'Animation Comedy Horror IMAX', 'Children Comedy Fantasy', 'Adventure Children Fantasy Western', 'Crime Thriller Western', 'Adventure Animation Children Comedy Musical Romance', 'Action Drama Musical War', 'Animation Children Comedy Fantasy', 'Adventure Comedy Romance', 'Adventure Mystery Thriller', 'Children Drama Musical', 'Animation Fantasy Sci-Fi Thriller', 'Crime Drama Film-Noir Romance Thriller', 'Comedy War Western', 'Action Comedy Romance', 'Animation Children Drama Fantasy Musical', 'Animation Drama Romance Sci-Fi', 'Crime Drama Romance', 'Action Adventure Crime Thriller', 'Adventure Comedy Drama Fantasy Mystery Sci-Fi Thriller', 'Action Crime Drama Thriller War', 'Action Crime Drama Fantasy Romance', 'Action Crime Drama Romance Thriller', 'Action Adventure Animation Comedy Fantasy Sci-Fi', 'Action Animation Drama Fantasy Sci-Fi', 'Drama Horror Musical Thriller', 'Action Crime Drama Thriller', 'Adventure Romance IMAX', 'Comedy Horror Musical Sci-Fi', 'Action Crime Sci-Fi IMAX', 'Animation Horror IMAX', 'Action Drama Sci-Fi Thriller', 'Crime Film-Noir Romance', 'Action Comedy Fantasy Horror', 'Animation Children Comedy IMAX', 'Comedy Crime Drama Romance Thriller', 'Action Sci-Fi Thriller', 'Action Adventure Drama Fantasy Mystery IMAX', 'Action Drama Thriller Western', 'Crime', 'Action Crime Film-Noir Mystery Thriller', 'Adventure Drama Sci-Fi Thriller', 'Action Adventure Animation Children Fantasy Sci-Fi', 'Action Animation Fantasy', 'Action Comedy Crime Mystery', 'Drama Fantasy Romance Sci-Fi', 'Action Adventure Crime Drama', 'Action Drama Romance Western', 'Adventure Children Comedy Musical', 'Adventure Documentary IMAX', 'Action Adventure Comedy Drama War', 'Action Crime Drama Thriller IMAX', 'Comedy Documentary Romance', 'Drama Fantasy Sci-Fi', 'Comedy Crime Romance Thriller', 'Comedy Drama Sci-Fi', 'Action Adventure Animation Drama', 'Documentary Drama War', 'Drama Fantasy Musical', 'Action Crime Mystery', 'Action Romance Western', 'Fantasy Sci-Fi', 'Action Adventure Mystery Sci-Fi', 'Adventure Children Comedy Fantasy Mystery', 'Action Adventure Sci-Fi War IMAX', 'Comedy Romance Sci-Fi', 'Action Drama Sci-Fi IMAX', 'Comedy Drama Horror Sci-Fi Thriller', 'Adventure Romance Thriller', 'Action Adventure Drama Western', 'Drama Fantasy', 'Adventure Animation', 'Action Comedy Crime Drama Sci-Fi', 'Comedy Drama Romance', 'Action Crime Thriller War', 'Adventure Comedy Fantasy Sci-Fi', 'Action Adventure Drama Thriller IMAX', 'Horror Thriller IMAX', 'Action Romance War', 'Action Crime Fantasy Thriller', 'Adventure Comedy Fantasy Romance IMAX', 'Children Drama War', 'Animation Fantasy Horror Sci-Fi', 'Children Drama', 'Animation Children Comedy Drama Romance', 'Action Drama Romance Thriller', 'Drama Sci-Fi', 'Action Animation Crime Sci-Fi Thriller', 'Documentary Musical', 'Mystery Romance Western', 'Animation Horror Mystery Thriller', 'Adventure Animation Children Comedy Fantasy Sci-Fi IMAX', 'Animation Musical Romance', 'Action Adventure Crime', 'Fantasy Horror Mystery Romance', 'Drama Romance War Western', 'Crime Film-Noir Thriller', 'Comedy Musical War', 'Action Adventure Animation Drama Fantasy', 'Drama Musical', 'Drama Horror', 'Action Crime Sci-Fi Thriller', 'Crime Drama Fantasy Thriller', 'Children Comedy Western', 'Action Comedy Drama Thriller', 'Action Horror Sci-Fi Thriller', 'Adventure Animation Children Drama Sci-Fi', 'Adventure Drama Horror Mystery', 'Action Adventure Animation', 'Action Adventure Western', 'Animation Drama Romance', 'Comedy Drama Thriller', 'Sci-Fi', 'Adventure Comedy Drama Fantasy Romance', 'Horror Mystery', 'Action Animation Children Crime', 'Adventure Animation Children Musical Western', 'Action Adventure Western IMAX', 'Animation Children Fantasy Musical', 'Animation Children Comedy Fantasy Musical Romance IMAX', 'Animation Musical', 'Drama Fantasy Horror Thriller War', 'Adventure War', 'Action Drama War IMAX', 'Action Comedy Fantasy', 'Drama Sci-Fi Thriller IMAX', 'Adventure Fantasy Mystery Romance IMAX', 'Crime Romance', 'Action Adventure Comedy Western', 'Comedy Sci-Fi', 'Action Thriller War', 'Comedy Drama Sci-Fi Thriller', 'Animation Ch

In [13]:
# finding the close match for the movie name given by the user

find_close_match = difflib.get_close_matches(genres_name, list_of_all_genres)
print(find_close_match)

['Comedy', 'Action Comedy', 'Comedy War']

In [14]:
# selecting the first value

close_match = find_close_match[0]
print(close_match)

Comedy

In [15]:
moviemat = pd.DataFrame(moviemat)
moviemat

genres   (no genres listed)                                                   \
title  Li'l Quinquin (    ) Marco Polo: One Hundred Eyes (2015) Pablo (2012)
userId
1                       NaN                                 NaN          NaN
2                       NaN                                 NaN          NaN
3                       NaN                                 NaN          NaN
4                       NaN                                 NaN          NaN
5                       NaN                                 NaN          NaN
...                     ...                                 ...          ...
664                     NaN                                 NaN          NaN
665                     NaN                                 NaN          NaN
666                     NaN                                 NaN          NaN
667                     NaN                                 NaN          NaN
668                     2.0                                 NaN          NaN

genres                                                          \
title  Round Trip to Heaven (1992) The 50 Year Argument (2014)
userId
1                              NaN                         NaN
2                              NaN                         NaN
3                              NaN                         NaN
4                              NaN                         NaN
5                              NaN                         NaN
...                            ...                         ...
664                            NaN                         NaN
665                            NaN                         NaN
666                            NaN                         NaN
667                            NaN                         NaN
668                            NaN                         2.5

genres                                                   \
title  The Big Broadcast of 1936 (1935) The Take (2009)
userId
1                                   NaN             NaN
2                                   NaN             NaN
3                                   NaN             NaN
4                                   NaN             NaN
5                                   NaN             NaN
...                                 ...             ...
664                                 NaN             NaN
665                                 NaN             NaN
666                                 NaN             NaN
667                                 NaN             NaN
668                                 2.0             NaN

genres                                     Action                              \
title  13 Assassins (Jûsan-nin no shikaku) (2010) Aces: Iron Eagle III (1992)
userId
1                                             NaN                         NaN
2                                             NaN                         NaN
3                                             NaN                         NaN
4                                             NaN                         NaN
5                                             NaN                         NaN
...                                           ...                         ...
664                                           NaN                         NaN
665                                           NaN                         NaN
666                                           NaN                         NaN
667                                           NaN                         NaN
668                                           2.5                         NaN

genres                   ...                     Western                   \
title  Avalanche (1978)  ... Tribute to a Bad Man (1956) True Grit (2010)
userId                   ...
1                   NaN  ...                         NaN              NaN
2                   NaN  ...                         NaN              NaN
3                   NaN  ...                         NaN              NaN
4                   NaN  ...                         NaN              NaN
5                   NaN  ...                         NaN              NaN
...                 ...  ...                         ...              ...
664                 NaN  ...                         NaN              NaN
665                 NaN  ...                         NaN              NaN
666                 NaN  ...                         NaN              NaN
667                 NaN  ...                         NaN              NaN
668                 NaN  ...                         2.5              4.0

genres                                                   \
title  Two Rode Together (1961) Valdez Is Coming (1971)
userId
1                           NaN                     NaN
2                           NaN                     NaN
3                           NaN                     NaN
4                           NaN                     NaN
5                           NaN                     NaN
...                         ...                     ...
664                         NaN                     NaN
665                         NaN                     NaN
666                         NaN                     NaN
667                         NaN                     NaN
668                         2.5                     2.5

genres                                                                    \
title  Vengeance Valley (1951) Viva Zapata! (1952) Westerner, The (1940)
userId
1                          NaN                 NaN                   NaN
2                          NaN                 NaN                   NaN
3                          NaN                 NaN                   NaN
4                          NaN                 NaN                   NaN
5                          NaN                 NaN                   NaN
...                        ...                 ...                   ...
664                        NaN                 NaN                   NaN
665                        NaN                 NaN                   NaN
666                        NaN                 NaN                   NaN
667                        NaN                 NaN                   NaN
668                        3.0                 3.5                   3.0

genres
title  Wild Bill (1995) Winchester '73 (1950) Wyatt Earp (1994)
userId
1                   NaN                   NaN               NaN
2                   NaN                   NaN               NaN
3                   NaN                   NaN               NaN
4                   NaN                   NaN               NaN
5                   NaN                   NaN               NaN
...                 ...                   ...               ...
664                 NaN                   NaN               NaN
665                 NaN                   NaN               NaN
666                 NaN                   NaN               NaN
667                 NaN                   NaN               NaN
668                 NaN                   4.5               2.5

[668 rows x 10325 columns]

In [16]:
# grouping the dataframe as per the input genre

genres_user_ratings = moviemat[close_match]
genres_user_ratings.head()

title,"'burbs, The (1989)",2 Days in New York (2012),21 and Over (2013),"41-Year-Old Virgin Who Knocked Up Sarah Marshall and Felt Superbad About It, The (2010)","6th Man, The (Sixth Man, The) (1997)",8 Heads in a Duffel Bag (1997),99 francs (2007),A Very Murray Christmas (2015),Accepted (2006),Ace Ventura: Pet Detective (1994),...,You Again (2010),You Don't Mess with the Zohan (2008),"You, Me and Dupree (2006)",Young Doctors in Love (1982),Young Einstein (1988),Zebraman (2004),Zelig (1983),Zookeeper (2011),Zoolander (2001),"Zorro, the Gay Blade (1981)"
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# finding the correlation between the movies

similar_to_genres = moviemat.corrwith(genres_user_ratings)

/usr/local/lib/python3.8/dist-packages/pandas/core/indexes/multi.py:3559: RuntimeWarning: The values in the array are unorderable. Pass `sort=False` to suppress this warning.
  result = lib.fast_unique_multiple([self._values, rvals], sort=sort)

In [18]:
# creating a dataframe of similar movies and its correlation

corr_genres = pd.DataFrame(similar_to_genres,columns=['Correlation'])
corr_genres.dropna(inplace=True)
corr_genres.head()

                                          Correlation
genres title
Comedy 'burbs, The (1989)                         1.0
       21 and Over (2013)                         1.0
       8 Heads in a Duffel Bag (1997)             1.0
       Accepted (2006)                            1.0
       Ace Ventura: Pet Detective (1994)          1.0

In [19]:
# sorting the dataframe in descending order according to correlation

corr_genres.sort_values('Correlation',ascending=False).head(10)

                                                      Correlation
genres title
Comedy Not Another Teen Movie (2001)                          1.0
       Muse, The (1999)                                       1.0
       Bob Roberts (1992)                                     1.0
       Road to Wellville, The (1994)                          1.0
       Robin Hood: Men in Tights (1993)                       1.0
       Romy and Michele's High School Reunion (1997)          1.0
       Ruthless People (1986)                                 1.0
       Love and Death (1975)                                  1.0
       Seven Year Itch, The (1955)                            1.0
       Encino Man (1992)                                      1.0

In [20]:
# adding number of ratings and ratings columns to the dataframe

corr_genres = corr_genres.join(ratings['num of ratings'])
corr_genres = corr_genres.join(ratings['rating'])
corr_genres.head()

                                          Correlation  num of ratings  \
genres title
Comedy 'burbs, The (1989)                         1.0              20
       21 and Over (2013)                         1.0               2
       8 Heads in a Duffel Bag (1997)             1.0              11
       Accepted (2006)                            1.0               9
       Ace Ventura: Pet Detective (1994)          1.0             173

                                            rating
genres title
Comedy 'burbs, The (1989)                 3.125000
       21 and Over (2013)                 3.750000
       8 Heads in a Duffel Bag (1997)     2.772727
       Accepted (2006)                    3.500000
       Ace Ventura: Pet Detective (1994)  2.849711

In [21]:
# setting the threshold on number of ratings

rating_threshld = int(input(' Enter the Minimum reviews threshold : '))

 Enter the Minimum reviews threshold : 100

In [22]:
# sorting the dataframe in descending order according to ratings and correlation

final_df=corr_genres[corr_genres['num of ratings']>rating_threshld].sort_values(['rating','Correlation'],ascending=False).head()
final_df.head()

                                            Correlation  num of ratings  \
genres title
Comedy Clerks (1994)                                1.0             101
       Ferris Bueller's Day Off (1986)              1.0             128
       Monty Python's Life of Brian (1979)          1.0             103
       Birdcage, The (1996)                         1.0             106
       Ace Ventura: Pet Detective (1994)            1.0             173

                                              rating
genres title
Comedy Clerks (1994)                        3.980198
       Ferris Bueller's Day Off (1986)      3.960938
       Monty Python's Life of Brian (1979)  3.810680
       Birdcage, The (1996)                 3.551887
       Ace Ventura: Pet Detective (1994)    2.849711

In [23]:
# droping correlation column

final_df.drop('Correlation', axis=1, inplace=True)

In [24]:
# taking number of recommendations from user

num_rec = int(input(' Enter Number of Recommendation : '))

 Enter Number of Recommendation : 5

In [25]:
# final result

print('Movies suggested for you : \n')


print(final_df.head(num_rec+1))

Movies suggested for you :

                                            num of ratings    rating
genres title
Comedy Clerks (1994)                                   101  3.980198
       Ferris Bueller's Day Off (1986)                 128  3.960938
       Monty Python's Life of Brian (1979)             103  3.810680
       Birdcage, The (1996)                            106  3.551887
       Ace Ventura: Pet Detective (1994)               173  2.849711