###Certification Project

###Collaborative-Based Movie Recommender System

In [ ]:
#import necessary libraries

import numpy as np
import pandas as pd
from math import sqrt
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Loading the datasets

movie=pd.read_csv('/content/movies.csv')
rating=pd.read_csv('/content/ratings.csv')

In [ ]:
# Reading the movie datasets

movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
# Reading the rating datasets

rating.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [ ]:
# Creating a new column 'year' from extracting date from 'title'

movie['year'] = movie.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movie['year'] = movie.year.str.extract('(\d\d\d\d)',expand=False)

In [ ]:
#Removing the years from the 'title' column
movie['title'] = movie.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movie['title'] = movie['title'].apply(lambda x: x.strip())

<ipython-input-704-9fa5ec22f204>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  movie['title'] = movie.title.str.replace('(\(\d\d\d\d\))', '')

In [ ]:
movie.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [ ]:
# Droping 'genres' column

movie.drop(columns=['genres'], inplace=True)

In [ ]:
movie.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [ ]:
# Droping 'timestamp' column

rating.drop(columns=['timestamp'],inplace=True)

In [ ]:
rating.head()

   userId  movieId  rating
0       1       16     4.0
1       1       24     1.5
2       1       32     4.0
3       1       47     4.0
4       1       50     4.0

In [ ]:
# Merging movie and rating dataset

df=pd.merge(movie, rating, how='left',on='movieId')
df.head()

   movieId      title  year  userId  rating
0        1  Toy Story  1995     2.0     5.0
1        1  Toy Story  1995     5.0     4.0
2        1  Toy Story  1995     8.0     5.0
3        1  Toy Story  1995    11.0     4.0
4        1  Toy Story  1995    14.0     4.0

In [ ]:
# droping 'year' and 'movieId' columns

df.drop(columns=['year','movieId'], inplace=True)

In [ ]:
df.head()

       title  userId  rating
0  Toy Story     2.0     5.0
1  Toy Story     5.0     4.0
2  Toy Story     8.0     5.0
3  Toy Story    11.0     4.0
4  Toy Story    14.0     4.0

In [ ]:
# droping all the na values
# converting userId from float dtype to int dtype

df = df.dropna()
df = df.astype({"userId":'int'})

In [ ]:
# taking userId as input from the user

filter = df["userId"]==int(input('Enter the UserID :'))

Enter the UserID :10

In [ ]:
df=df.where(filter, inplace = False)
df = df.dropna()

In [ ]:
df.head()

                                                   title  userId  rating
2116                                            Clueless    10.0     5.0
5844                                            Mallrats    10.0     2.5
7354   Interview with the Vampire: The Vampire Chroni...    10.0     4.0
9968                                           Tank Girl    10.0     2.5
11081                                       Forrest Gump    10.0     4.0

In [ ]:
df.drop(columns=['userId'], inplace=True)

In [ ]:
df.head()

                                                   title  rating
2116                                            Clueless     5.0
5844                                            Mallrats     2.5
7354   Interview with the Vampire: The Vampire Chroni...     4.0
9968                                           Tank Girl     2.5
11081                                       Forrest Gump     4.0

In [ ]:
inputMovie = pd.DataFrame(df)
inputMovie.head()

                                                   title  rating
2116                                            Clueless     5.0
5844                                            Mallrats     2.5
7354   Interview with the Vampire: The Vampire Chroni...     4.0
9968                                           Tank Girl     2.5
11081                                       Forrest Gump     4.0

In [ ]:
#Filtering out the movies by title
Id = movie[movie['title'].isin(inputMovie['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovie = pd.merge(Id, inputMovie)
#Dropping information we won't use from the input dataframe
inputMovie = inputMovie.drop('year', 1)
inputMovie

<ipython-input-720-8428620aa46d>:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  inputMovie = inputMovie.drop('year', 1)

    movieId                                              title  rating
0        39                                           Clueless     5.0
1       180                                           Mallrats     2.5
2       253  Interview with the Vampire: The Vampire Chroni...     4.0
3       327                                          Tank Girl     2.5
4       356                                       Forrest Gump     4.0
5       480                                      Jurassic Park     2.0
6       934                                Father of the Bride     1.0
7      6944                                Father of the Bride     1.0
8      1093                                         Doors, The     4.0
9      1298                               Pink Floyd: The Wall     0.5
10     1727                               Horse Whisperer, The     3.5
11     2081                                Little Mermaid, The     5.0
12     2146                                    St. Elmo's Fire     2.0
13     2390                                       Little Voice     4.0
14     2528                                        Logan's Run     4.5
15     2572                         10 Things I Hate About You     5.0
16     2581                                  Never Been Kissed     2.0
17     3159                                      Fantasia 2000     3.5
18     3186                                  Girl, Interrupted     3.5
19     3362                                  Dog Day Afternoon     4.5
20     4880                                    Life as a House     4.0
21     7445                                        Man on Fire     3.5
22     7451                                         Mean Girls     5.0
23    81591                                         Black Swan     4.0

In [ ]:
#Filtering out users that have watched movies that the input has watched and storing it
users = rating[rating['movieId'].isin(inputMovie['movieId'].tolist())]
users.head()

     userId  movieId  rating
18        1      356     3.0
22        1      480     3.5
148       3       39     4.0
174       3      356     3.0
187       3      480     4.0

In [ ]:
users.shape

(1390, 3)

In [ ]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = users.groupby(['userId'])

In [ ]:
#showing one such group example by getting all the users of a particular uderId
#userSubsetGroup.get_group(1)

In [ ]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [ ]:
userSubsetGroup[0:3]

[(10,      userId  movieId  rating
  809      10       39     5.0
  810      10      180     2.5
  811      10      253     4.0
  812      10      327     2.5
  813      10      356     4.0
  814      10      480     2.0
  815      10      934     1.0
  816      10     1093     4.0
  817      10     1298     0.5
  818      10     1727     3.5
  819      10     2081     5.0
  820      10     2146     2.0
  821      10     2390     4.0
  822      10     2528     4.5
  823      10     2572     5.0
  824      10     2581     2.0
  825      10     3159     3.5
  826      10     3186     3.5
  827      10     3362     4.5
  828      10     4880     4.0
  829      10     7445     3.5
  830      10     7451     5.0
  831      10    81591     4.0), (668,         userId  movieId  rating
  99684      668       39     3.0
  99770      668      253     3.0
  99819      668      356     4.0
  99868      668      480     4.0
  100016     668      934     2.5
  100095     668     1093     2.0
  100224     668     1298     2.0
  100389     668     1727     2.5
  100531     668     2081     3.0
  100558     668     2146     3.0
  100666     668     2390     4.0
  100729     668     2572     2.0
  100734     668     2581     1.5
  101004     668     3186     3.0
  101067     668     3362     4.0
  102209     668     6944     3.0
  102397     668     7445     2.5
  102400     668     7451     2.5
  104454     668    81591     5.0), (575,        userId  movieId  rating
  82690     575       39     3.0
  82735     575      180     3.0
  82763     575      253     2.0
  82804     575      356     2.5
  82848     575      480     4.0
  82989     575     1093     4.0
  83219     575     1727     3.0
  83313     575     2081     4.0
  83332     575     2146     3.0
  83397     575     2390     3.0
  83450     575     2528     3.0
  83462     575     2572     2.5
  83465     575     2581     2.5
  83719     575     3362     4.0
  84524     575     6944     3.5
  84616     575     7445     3.0
  84619     575     7451     4.0
  85324     575    81591     2.5)]

In [ ]:
userSubsetGroup = userSubsetGroup[0:100]

In [ ]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovie = inputMovie.sort_values(by='movieId')
    #Get the N for the formula
    n = len(group)
    #Get the review scores for the movies that they both have in common
    temp = inputMovie[inputMovie['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp['rating'].tolist()
    #put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(n)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(n)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(n)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorDict[name] = 0

In [ ]:
pearsonCorDict.items()

dict_items([(10, 1.0), (668, 0.21937813830886677), (575, 0.03012176288331047), (62, -0.2447584714253839), (220, 0.32673103549552396), (192, -0.17557251908396976), (310, 0.08561450187869486), (607, 0.16282240225645903), (244, -0.10091023804835601), (413, 0.06184785104122444), (458, 0.4734032832146798), (88, -0.391573062749811), (164, 0.3520721784453647), (177, 0.5726515552133611), (354, 0.3124365290522022), (410, 0.3061820793853899), (567, -0.21251147946198692), (224, -0.5555909634626153), (451, 0.02606430175713515), (627, 0.0), (63, -0.05012547071170855), (109, 0.6614950926316517), (130, -0.6562160921920596), (160, 0.04843594796964828), (179, -0.404695245263495), (232, -0.6949776424760767), (422, 0.5927108612968625), (425, 0.04351941398892446), (461, 0.4142839674350902), (484, -0.05835220461073034), (485, 0.3375263702778072), (128, 0.13127625787762776), (389, 0.2886751345948129), (402, 0.3286710990610899), (471, -0.0383482494423674), (555, -0.6354166666666684), (561, 0.008896008544726811), (590, 0.5807806828316422), (600, -0.1060660171779826), (113, 0.4534925875825208), (118, -0.722998805481222), (156, 0.6888747637021416), (213, -0.16724840200141816), (218, -0.49999999999999856), (235, 0.5819143739626463), (336, 0.26896454905269856), (376, 0.0), (383, -0.17615887730990484), (560, -0.12309149097933361), (597, -0.3793103448275864), (650, 0.6101702158477471), (659, -0.32826899358723466), (32, 0.9084026158592897), (38, -0.46966821831386174), (54, 0.4082482904638631), (66, 0.3061862178478973), (89, -0.19245008972987526), (110, 0.0), (158, -0.14237369936288086), (180, 0.10889310129609447), (188, 0.7332132200228395), (203, 0.7497771504927777), (250, 0.8164965809277261), (255, -0.2932942300427051), (299, -0.626224291085149), (308, 0.7206366357788051), (337, 0.23249527748764218), (387, -0.07735659346941255), (403, 0.20100756305184186), (405, -0.1371182340382142), (409, 0.4712106468281576), (424, -0.5773502691896258), (443, 0.0), (444, -0.26919095102908275), (501, 0), (545, 0.43301270189221935), (605, -0.9302605094190644), (655, -0.48768777564732746), (656, -0.745355992499929), (71, -0.6622661785325219), (104, -0.6488856845230502), (107, -0.5773502691896258), (123, 0), (148, 0.13245323570650439), (194, -0.9486832980505138), (196, 0.05263157894736842), (198, -0.7683498199278324), (205, -0.30779350562554625), (228, -0.044151078568834795), (245, -0.3746343246326776), (275, -0.5184909906518379), (326, -0.6622661785325219), (331, 0.23586475766431486), (339, 0.12666009927622474), (349, -0.6882472016116852), (352, 0.6272150756439738), (357, -0.044151078568834795), (371, 0.13245323570650439), (420, -0.05528134553975607), (432, 0.9505863757867169)])

In [ ]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         1.000000      10
1         0.219378     668
2         0.030122     575
3        -0.244758      62
4         0.326731     220

In [ ]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
0          1.000000      10
99         0.950586     432
52         0.908403      32
62         0.816497     250
61         0.749777     203

In [ ]:
topUsersRating=topUsers.merge(rating, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0              1.0      10       39     5.0
1              1.0      10      180     2.5
2              1.0      10      253     4.0
3              1.0      10      327     2.5
4              1.0      10      356     4.0

In [ ]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0              1.0      10       39     5.0             5.0
1              1.0      10      180     2.5             2.5
2              1.0      10      253     4.0             4.0
3              1.0      10      327     2.5             2.5
4              1.0      10      356     4.0             4.0

In [ ]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  15.774233           60.704472
2                   8.291327           26.365925
3                   4.384738           15.793235
4                   1.349347            4.648269
5                   4.833536           15.285199

In [ ]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.848331        1
2                                     3.179940        2
3                                     3.601865        3
4                                     3.444829        4
5                                     3.162323        5

In [ ]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
1938                                       5.0     1938
2920                                       5.0     2920
25961                                      5.0    25961
2935                                       5.0     2935
25923                                      5.0    25923
80969                                      5.0    80969
101862                                     5.0   101862
116136                                     5.0   116136
6583                                       5.0     6583
90603                                      5.0    90603

In [ ]:
input_recmd = int(input(' Enter Number of Recommendation : '))
movie.loc[movie['movieId'].isin(recommendation_df.head(input_recmd)['movieId'].tolist())]

 Enter Number of Recommendation : 5

      movieId                                          title  year
1504     1938                              Lost Weekend, The  1945
2333     2920  Children of Paradise (Les enfants du paradis)  1945
2345     2935                                  Lady Eve, The  1941
5996    25923                             Great Expectations  1946
6013    25961                                Gunfighter, The  1950